.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #222;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-waves {
  position: absolute;
  left: -10%;
  width: 120%;
  height: 20%;
  top: 15%;
}

