.MusePanel-div {
  background-color: #777;
}

.MusePanel-animation {
  padding: 10%;
}

.MusePanel-graphs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.electrode-set {
  
}

.electrode-item {

}
